<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>短域名在线生成</title>

    <!-- Favicon  -->
    <link rel="icon" href="__STATIC__/index/img//core-img/favicon.ico">
    <link rel="stylesheet" href="__STATIC__/index/lib/Font-Awesome-3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/index/src/jquery.toast.css">
    {load href="__STATIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" /}
<!--     <link rel="stylesheet" href="__STATIC__/login//css/css.css" media="all"> -->
    <!-- Style CSS -->
    {load href="__STATIC__/index/style.css" /}
</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** 顶部导航栏 ***** -->
    <header class="header-area sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {include file="public/nav" /}
                </div>
            </div>
        </div>
    </header>
    <script>
        function login(){
         layer.open({
              type: 2,
              title :'登录是一种态度',
              anim: 6,  
              scrollbar: false,//禁止滚动条
              skin: 'layui-layer-rim', //加上边框
              area: ['400px', '550px'], //宽高
              content: "{:url('index/login/index')}"
            });
        }
    </script>
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start 头部幻灯片 ********** -->
    <div class="hero-area bg-img " style="background-image: url(__STATIC__/index/img/blog-img/b1.jpg);height: 200px" ></div>
    <!-- ********** Hero Area End ********** -->
    <!-- ********** 内容 *********** -->
    <section class="contact-area section-padding-50">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form Area -->
                <form class="col-12 col-md-10 col-lg-12" id="form-data">
                    <h5>请输入将要缩短的长网址:</h5>
                   <textarea id="content" onfocus="this.select()" class="form-control" name="urldata" rows="14" spellcheck="false" placeholder="如需批量生成请保持每行输入一条"></textarea>
                   <br/>
                         <div class="custom-control custom-radio custom-control-inline" >:新浪/t.cn
                            <input type="radio" onfocus="this.select()" class="custom-control-input" id="xl" name="type" checked value="xl">
                            <label class="custom-control-label" for="xl"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" data-toggle="tooltip" title="敬请期待">:百度/dwz.cn
                            <input type="radio" onfocus="this.select()" class="custom-control-input" id="bd" name="type" value="bd" disabled="">
                            <label class="custom-control-label" for="bd"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" data-toggle="tooltip" title="敬请期待">:腾讯/url.cn
                            <input type="radio" onfocus="this.select()" class="custom-control-input" id="tx" name="type" value="tx" disabled=""   >
                            <label class="custom-control-label" for="tx"></label>
                        </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" onclick="return post();" id="beautify">生成</button>
                        <button type="button" class="btn btn-danger" onclick="Empty();">清空结果</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <br/><br/><br/><br/>
    <!-- ***** Footer Area Start ***** -->
    {include file="../../index/view/templet/_footer" /}
    <!-- ***** Footer Area End ***** -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    {include file="../../index/view/templet/_js" /}
<!--     <script src="__STATIC__/tools/jshtml/base.js"></script>
    <script src="__STATIC__/tools/jshtml/jsformat.js"></script>
    <script src="__STATIC__/tools/jshtml/htmlformat.js"></script> -->
    <script type="text/javascript">
    function post(){
        $.ajax({
            type: 'GET',
            data:$("#form-data").serializeArray(),
            url: "{:url('url_exe')}",
            dataType: 'json',
            success: function(data){
                // console.log(data);
                if (data) {
                    var ss = JSON.stringify(data); 
                    var newstr=ss.replace(/"/g,"");/*去除“*/
                    var newstr2=newstr.replace(/,/g,"\n");/*吧，转换为\n*/
                    var newstr3=newstr2.replace(/\[|]/g,"");//去除中括号
                    $("#content").val(newstr3);
        }},
            error:function(data) {
                console.log(data.msg);
            },
        });     
    }
    function Empty() {
        document.getElementById('content').value = '';
        document.getElementById('content').select();
    }
</script>
</body>

</html>