{include file="templet/_meta" /}
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** 顶部导航栏 ***** -->
    {include file="templet/_header" /}
    <!-- ***** Header Area End ***** -->
    <!-- ********** Hero Area Start **********  头部幻灯片 **********-->
    {include file="templet/hero_area" /}
    <!-- ********** Hero Area End ********** -->
    <!-- *************** content内容 ************** -->
    {include file="templet/content" /}
    <!-- *************** content内容 End *************** -->
    <!-- ***** Footer Area Start ***** -->
    {include file="templet/_footer" /}
    <!-- ***** Footer Area End ***** -->
    {include file="templet/_js" /}
</body>

</html>