<!-- jQuery (Necessary for All JavaScript Plugins) -->
   
    <!-- Popper js -->
    {load href="__STATIC__/index/js/popper.min.js" /}
    <!-- Bootstrap js -->
    {load href="__STATIC__/index/js/bootstrap.min.js" /}
    <!-- Plugins js -->
    {load href="__STATIC__/index/js/plugins.js" /}
    <!-- Active js -->
    {load href="__STATIC__/index/js/active.js" /}
    {load href="__STATIC__/admin/lib/layer/2.4/layer.js" /}
    {load href="__STATIC__/index/src/jquery.toast.js" /}
    
  <!--   <script type="text/javascript" src="__STATIC__/index/js/jquery/jquery-2.2.4.min.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/js/popper.min.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/js/plugins.js" ></script>
    -->
